{% extends 'base.html' %}

{% load widget_tweaks %}

{% block content %}
<div>
  <form action="{% url 'search' %}" method="post">
    {% csrf_token %}
    {% render_field search_form.title type="search" placeholder=search_form.title.label %}
  <input type="submit" name="Search" />
  </form>
</div>

{% if search_results %}
<ul>
  {% for backlog_item in search_results %}
    <li>
      <a
        href="{% url 'get-backlog-item' backlog_item.mal_id %}"
        target="_blank"
      >
        {% if backlog.estimates_in_days %}
          {{ backlog_item.title }} - {{ backlog_item.estimates_in_days }} days.
        {% else %}
          {{ backlog_item.title }}
        {% endif %}
      </a>
  </li>
  {% endfor %}
</ul>
{% endif %}
{% endblock %}
