{% extends 'base.html' %}

{% load static %}

{% block content %}

<!-- #dashboard -->
<section id="dashboard">
  <!-- #searchmanga -->
  <div id="searchManga">
    <form>
      {% csrf_token %}
      <input type="search" name="title" placeholder="Search mangas..." hx-post="{% url 'manga_search' %}"
        hx-target="#searchResults" hx-swap="outerHTML" hx-trigger="keyup changed delay:500ms">
    </form>
    {% include 'tracker/partials/search_results.html' %}
  </div> <!-- #searchManga -->

  {% include 'tracker/partials/subscribed_list.html' %}

  <div id="notificationLog">
    <h2>Watchlist News</h2>
    <ul>
      {% for notif in notifs %}
        <li> {{ notif.subject }}</li>
      {% endfor %}
    </ul>
  </div>
</section>
{% endblock %}
