{% extends 'base.html' %}

{% load static %}

{% block content %}

<!-- #dashboard -->
<section id="dashboard">
  <!-- #searchmanga -->
  <div id="searchManga">
    <form>
      {% csrf_token %}
      <input
        type="search" name="title"
        placeholder="Search mangas..."
        hx-post="{% url 'manga_search' %}"
        hx-target="#searchResults"
        hx-swap="outerHTML"
        hx-trigger="keyup changed delay:500ms"
      >
    </form>
    {% include 'tracker/partials/search_results.html' %}
  </div> <!-- #searchManga -->

  <!-- #subscribedManga -->
  <div id="subscribedManga">
    <ul>
      {% for manga_sub in manga_subs %}
        <li>{{ manga_sub.title }}</li>
      {% empty %}
        <li>No subscribed items yet.</li>
      {% endfor %}
    </ul>
  </div> <!-- end #subscribedManga -->
</section> <!-- end dashboard -->
{% endblock %}
